#imgpos {
	position: absolute; 
    margin: 10;
	
	}
#rodapé {
     position:relative ; 
     margin: 10;
    }
 #fundo {
    position:center; 
    margin: 10;
}
#pok {
    position: left center ; 
    
    }
#maisp {
    position: static; 
    margin-top: 20cm;
}
#naruto {
    position: static; 
    
}
#boku1 {
        position: static; 
        
}
#boku2 {
    position: static; 
    
} 
#nanatsu1 {
    position: static; 
   
} 
#nanatsu2 {
    position: static; 
    
} 
#anuncio1 {
    position: static; 
    
} 
#anuncio2 {
    position: static; 
   
} 