#rodapé2{
    position:absolute


}
#fundo {
    position:center; 
    
}
#pok {
    position: static; 
    
    }
#maisp {
    position: static; 
    
}
#naruto {
    position: static; 
    
}
#boku1 {
        position: static; 
        
}
#boku2 {
    position: static; 
    
} 
#nanatsu1 {
    position: static; 
   
} 
#nanatsu2 {
    position: static; 
    
} 
#anuncio1 {
    position: static; 
    
} 
#anuncio2 {
    position: static; 
   
} 