#imgpos {
	position: absolute; 
    margin: 20%;
    padding: 100%;
	
}
#rodapé {
     position:relative ; 
     margin: 92%;
     padding: 130%;
}
#fundo {
    position: relative;
    background-color: rgba(65, 56, 56, 0.856); 
    
}
#vídeo{ 
    position: absolute;


}
#anuncio1 {
    position: fixed; 
    
} 
#anuncio2 {
    position: fixed; 
   
} 