#rodapé2{
    display: flex;
    border: 0.5rem solid gray ;
    align-items: center;
}


#fundo {
    position:center; 
    margin: -15cm;
}

#vídeo{ 
    position: relative;


}
#anuncio1 {
    position: static; 
    
} 
#anuncio2 {
    position: static; 
   
} 